* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-white: #fff;
  --color-text: #000;
  --color-light: #fff;
  --color-dark: #000;
  --color-success: #2ada64;
  --color-danger: #ff2119;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #e32259;
  --color-header-shadow: #d8d8d8;
  --color-body: #f0f2f5;
  --color-card-background: #fff;
  --color-input-background: #f0f2f5;
  --color-card-item: #7e848a;
  --color-card-item-hover: #f2f2f2;
  --color-input-text: #a7a9ad;
  --color-input-caret: #000;
  --color-button: #e4e6eb;
  --color-button-hover: #d8dadf;
  --color-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
  --color-hover-light: #f2f2f2;
  --color-hover-dark: #d0d0d0;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-inset: rgba(255, 255, 255, 0.5); }

[data-theme='dark'] {
  --color-text: #fff;
  --color-light: #242526;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ee205b;
  --color-header-shadow: #3a3b3c;
  --color-body: #18191a;
  --color-card-background: #242526;
  --color-card-item: #94989a;
  --color-card-item-hover: #3a3b3c;
  --color-input-background: #3a3b3c;
  --color-input-caret: #fff;
  --color-button: #3a3b3c;
  --color-button-hover: #4e4f50;
  --color-dropdown-button: #3e4042;
  --color-dropdown-button-hover: #525355;
  --color-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
  --color-hover-light: #3a3b3c;
  --color-hover-dark: #303031;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-inset: rgba(255, 255, 255, 0.05); }

html {
  margin: 0;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 90%; } }
  @media only screen and (max-width: 75rem) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 70%; } }

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  color: var(--color-text); }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

a {
  text-decoration: none;
  color: var(--color-text); }

.uppercase {
  text-transform: uppercase; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header {
  background-color: var(--color-light);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  padding: 2rem 0;
  width: 100%;
  box-shadow: 0px 1.5px 1px var(--color-header-shadow);
  z-index: 5; }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%; }
  .header__logo > a {
    font-size: 1.5rem;
    color: var(--color-primary); }

.nav {
  display: flex;
  align-items: center; }
  .nav__item {
    position: relative; }
    .nav__item--img {
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem; }
    .nav__item--notification {
      font-size: 0.8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center; }
  .nav__item:not(:last-child) {
    margin-right: 1rem; }

.sidebar__container {
  display: flex;
  flex-direction: column;
  height: 93vh;
  min-width: min-content; }

.sidebar__nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0.1rem; }
  .sidebar__nav a {
    padding: 0.5rem 1rem; }
  .sidebar__nav--item {
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
    border-radius: 0.8rem;
    width: 18rem;
    padding: 1rem 3rem; }
  .sidebar__nav--item:hover {
    cursor: pointer;
    background-color: var(--color-hover-dark); }

input[type='text'],
input[type='password'],
input[type='email'] {
  background-color: var(--color-input-background);
  color: var(--color-text);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem;
  width: 100%;
  caret-color: var(--color-input-caret); }

input:focus {
  outline: none; }

input[type='submit'] {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  font-weight: 600; }

input[type='submit']:hover {
  background-color: var(--color-primary-dark);
  cursor: pointer; }

.input__select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-input-background);
  color: var(--color-text);
  border: none;
  padding: 1rem; }

.input__select:focus {
  outline: none; }

.form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-card-background);
  padding: 2rem;
  border-radius: 0.8rem; }
  .form__container:not(:last-child) {
    margin-bottom: 5vh; }
  .form__container input {
    font-family: inherit;
    padding: 0.5rem 1rem;
    border: none; }
  .form__container input:not([type='submit']):focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__container input:not([type='submit']):not(:last-child) {
    margin-bottom: 1vh; }
  .form__container input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .form__container input[type='file'] + label {
    text-align: center;
    color: var(--color-text);
    background-color: var(--color-input-background);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.8rem; }
  .form__container input[type='file'] + label:hover {
    cursor: pointer;
    background-color: var(--color-button-hover); }
  .form__container input[type='file']:focus + label {
    outline: -webkit-focus-ring-color auto 5px; }

.btn__action {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  width: min-content; }
  .btn__action--active {
    background-color: var(--color-primary);
    color: var(--color-white); }
  .btn__action--active:hover {
    background-color: var(--color-primary-dark); }
  .btn__action--inactive {
    background-color: var(--color-button); }
  .btn__action--inactive:hover {
    background-color: var(--color-button-hover); }

.btn__action:hover {
  cursor: pointer; }

.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: var(--color-button);
  border-radius: 0.8rem; }
  .btn__icon--svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-text); }

.btn__icon:hover {
  cursor: pointer;
  background-color: var(--color-button-hover); }

.btn__dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem; }
  .btn__dropdown--svg {
    height: 1rem;
    width: 1rem;
    fill: var(--color-text); }
  .btn__dropdown--action {
    position: absolute;
    height: 1rem;
    width: 1rem;
    fill: var(--color-text); }

.btn__dropdownAction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--color-button);
  border-radius: 0.8rem; }
  .btn__dropdownAction--svg {
    height: 1rem;
    width: 1rem;
    fill: var(--color-text); }

.spinner__overlay {
  grid-column: center-start / center-end;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner__container {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

.dropdown {
  position: relative; }
  .dropdown__dot {
    background-color: var(--color-card-item);
    margin: 0 auto;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 1px;
    border-radius: 50%;
    transition: background-color 0.3s; }
  .dropdown__btn:hover .dropdown__dot {
    background-color: var(--color-text); }
  .dropdown__btn {
    display: flex;
    justify-content: center;
    align-items: center; }
  .dropdown__btn:hover {
    cursor: pointer; }
  .dropdown__menu {
    width: min-content;
    position: absolute;
    top: 100%;
    z-index: 900;
    padding: 0.5rem;
    margin-top: 0.75rem;
    background-color: var(--color-light);
    border: 1px solid var(--color-body);
    border-radius: 0.3rem;
    box-shadow: var(--color-box-shadow);
    opacity: 0;
    transform: translate(0, 15px) scale(0.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none; }
    .dropdown__menu--show .dropdown__menu {
      opacity: 1;
      transform: translate(0, 0) scale(1);
      pointer-events: auto; }
    .dropdown__menu--item {
      color: var(--color-text) !important;
      display: flex;
      align-items: center;
      background: none;
      border: 0 none;
      border-radius: 0.5rem;
      line-height: normal;
      overflow: visible;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      width: 100%;
      outline: none;
      cursor: pointer;
      white-space: nowrap;
      padding: 0.5rem; }
    .dropdown__menu--item:hover {
      background-color: var(--color-hover-light); }
  .dropdown__menu:focus {
    outline: none; }

.category-overview__container {
  padding: 2rem; }
  .category-overview__container--title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .category-overview__container--body {
    display: flex; }

.category__container {
  padding: 2rem 0;
  grid-column: medium-start / medium-end; }
  .category__container--title {
    padding: 2rem 1rem;
    font-size: 1.35rem;
    font-weight: 600;
    text-transform: uppercase; }
  .category__container--body {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    display: flex;
    margin-top: 2rem; }

.category__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 8rem;
  width: 8rem;
  background-color: var(--color-card-background);
  border-radius: 0.8rem; }

.category__item:not(:last-child) {
  margin-right: 2rem; }

.category__item:hover {
  cursor: pointer;
  background-color: var(--color-hover-light); }

.post-item__container {
  background-color: var(--color-card-background);
  margin: 2rem auto;
  border-radius: 5px;
  padding: 2rem;
  font-size: 1rem; }

.post-item__headliner {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.post-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; }
  .post-item__header--img {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem; }
  .post-item__header--info {
    margin: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left; }
    .post-item__header--info time {
      font-size: 0.9rem; }
  .post-item__header--tag {
    font-size: 0.9rem;
    display: flex; }
  .post-item__header--name {
    font-size: 1rem; }

.post-item__body {
  margin-top: 2rem; }
  .post-item__body--title {
    text-align: center; }
  .post-item__body--desc {
    margin: 2rem 1rem; }

.post-item__actions {
  display: flex;
  border-top: 1px solid var(--color-header-shadow);
  border-bottom: 1px solid var(--color-header-shadow);
  padding: 0.3rem 0; }
  .post-item__actions--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0.5rem; }
  .post-item__actions--button:hover {
    cursor: pointer;
    background-color: var(--color-card-item-hover); }

.post-item__comments--error {
  text-align: center; }

.post-form__container--form {
  display: flex;
  flex-direction: column; }
  .post-form__container--form input:not(:last-child) {
    margin-bottom: 1rem; }

.post-form__container--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-input-background);
  color: var(--color-text);
  border: none;
  padding: 1rem; }

.post-form__container--select:focus {
  outline: none; }

.post-form__container--option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem; }

.post-form__container--option:hover {
  background-color: var(--color-hover-light); }

.comment__container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.95rem; }
  .comment__container--header img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
  .comment__container--main {
    display: flex;
    flex-direction: column;
    background-color: var(--color-input-background);
    border-radius: 0.8rem;
    flex: 1 1 auto;
    margin-left: 1rem;
    padding: 0.5rem 1rem; }
  .comment__container--actions {
    margin-left: 0.5rem; }
  .comment__container--action {
    padding: 1rem;
    border-radius: 0.8rem; }
  .comment__container--action:hover {
    cursor: pointer;
    background-color: var(--color-hover-light); }

.comment-form__container {
  display: flex;
  align-items: center;
  padding: 1rem 0; }
  .comment-form__container img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }

.comment-form__form {
  margin-left: 1rem;
  width: 100%; }

.notification {
  /* Notification Item */ }
  .notification__dropdown {
    width: 15rem; }
  .notification__item {
    position: relative; }
    .notification__item--img {
      margin-right: 1rem; }
      .notification__item--img img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%; }
    .notification__item--main {
      height: 100%;
      width: 100%;
      padding: 0.5rem 1rem;
      display: flex;
      border-radius: 0.8rem; }
    .notification__item--main:hover {
      cursor: pointer;
      background-color: var(--color-hover-light); }
    .notification__item--main:hover .notification__item--action {
      visibility: visible; }
    .notification__item--action {
      position: absolute;
      top: 0.5rem;
      right: 0; }
    .notification__item--action:hover {
      cursor: pointer;
      background-color: #242526; }
    .notification__item--bubble {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;
      position: absolute;
      background-color: red;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 0.8rem;
      top: -0.2rem;
      right: -0.5rem; }
    .notification__item--error {
      text-align: center; }
    .notification__item--error:hover {
      cursor: default; }
  .notification__action {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0.8rem; }
  .notification__action:hover {
    cursor: pointer;
    background-color: var(--color-hover-light); }
  .notification__error {
    padding: 0.5rem 0;
    text-align: center; }
  .notification__container {
    background-color: var(--color-light);
    border-radius: 3px;
    display: flex; }
  .notification__container:not(:last-child) {
    margin-bottom: 1rem; }
  .notification__header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .notification__header--img {
      border-radius: 50%;
      height: 3rem;
      width: 3rem; }
    .notification__header--name {
      white-space: nowrap; }
  .notification__body {
    width: 100%;
    padding: 1rem; }

.report-form__container--form {
  display: flex;
  flex-direction: column; }

.report-form__container--item:not(:last-child) {
  margin-bottom: 1rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 175;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
    .popup {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba(var(--color-dark), 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 30%;
    border-radius: 3px;
    background-color: var(--color-card-background);
    box-shadow: var(--color-box-shadow);
    overflow: hidden;
    opacity: 1; }
    @media only screen and (max-width: 112.5em) {
      .popup__content {
        width: 40%; } }
    @media only screen and (max-width: 75rem) {
      .popup__content {
        width: 50%; } }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        width: 70%; } }
  .popup__header {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--color-input-background); }
    .popup__header--title {
      font-size: 1.25rem;
      font-weight: 800; }
  .popup__close {
    color: var(--color-text);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s; }
  .popup__close:hover {
    background-color: var(--color-hover-light); }
  .popup__main {
    padding: 1rem 3rem; }
  .popup__message {
    padding-top: 2rem;
    text-align: center; }

.popupConfirm__content {
  height: min-content; }

.popupConfirm .popup__main {
  display: flex;
  justify-content: center; }

.popupConfirm form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%; }

.toggle-switch__container {
  margin-left: 1rem;
  display: flex; }

.toggle-switch--item {
  display: inline-block;
  height: 1.5rem;
  position: relative;
  width: 2.5rem; }
  .toggle-switch--item input {
    display: none; }
  .toggle-switch--item .slider {
    background-color: var(--color-hover-dark);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s; }
  .toggle-switch--item .slider:before {
    background-color: var(--color-light);
    bottom: 4px;
    content: '';
    left: 5px;
    height: 1rem;
    position: absolute;
    transition: 0.4s;
    width: 1rem; }
  .toggle-switch--item input:checked + .slider {
    background-color: var(--color-primary); }
  .toggle-switch--item input:checked + .slider:before {
    transform: translateX(1rem); }
  .toggle-switch--item .slider.round {
    border-radius: 2rem; }
  .toggle-switch--item .slider.round:before {
    border-radius: 50%; }

.auth__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .auth__container--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: var(--color-card-background);
    border-radius: 0.8rem;
    width: 75%; }

.account__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .account__container--img {
    display: flex;
    justify-content: center;
    margin: 1rem auto; }
    .account__container--img img {
      border-radius: 50%;
      height: 8rem;
      width: 8rem;
      text-align: center; }

.explore-feed__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 22rem);
  grid-column-gap: 2rem; }

.explore-posts__container {
  padding: 1rem;
  text-align: center; }
  .explore-posts__container--header {
    width: 50%;
    margin: 0 auto; }
  .explore-posts__container--actions {
    display: flex;
    justify-content: center; }

.explore__container {
  grid-column: medium-start / medium-end;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .explore__container--header {
    background-color: var(--color-card-background);
    padding: 1rem;
    width: 100%;
    border-radius: 0.8rem;
    text-align: center; }
  .explore__container--title {
    font-size: 2rem; }

.explore__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0; }

.posts__container {
  padding: 3rem 0; }
  .posts__container--title {
    font-size: 1.35rem;
    font-weight: 600; }
  .posts__container--form {
    background-color: var(--color-card-background);
    display: flex;
    align-items: center;
    padding: 1rem; }
    .posts__container--form img {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%; }
  .posts__container--end {
    text-align: center;
    font-size: 1rem; }
  .posts__container .input__btn {
    background-color: var(--color-input-background);
    color: var(--color-input-text);
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    margin-left: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.8rem; }
  .posts__container .input__btn:hover {
    cursor: pointer; }

.profile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border-bottom: 2px solid var(--color-header-shadow); }
  .profile__header--pic > img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem; }
  .profile__header--name {
    font-size: 1.5rem; }
  .profile__header--followers {
    font-size: 1.2rem; }
  .profile__header--bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 100%; }
  .profile__header--actions {
    width: min-content;
    display: flex;
    justify-content: space-between; }
    .profile__header--actions .btn__action:not(:last-child) {
      margin-right: 1.5rem; }

.profile__body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem; }
  .profile__body--tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-grey-dark-3);
    padding: 0.5rem 0; }
  .profile__body .tabs {
    flex: 1;
    text-align: center;
    padding: 0.5rem 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem; }
    .profile__body .tabs--active {
      border-bottom: 3px solid var(--color-primary);
      color: var(--color-primary); }
  .profile__body .tabs:hover {
    cursor: pointer;
    background-color: var(--color-hover-light); }

.container {
  height: 100vh; }

.body__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-body); }

.main__container {
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: row; }

.content__container {
  display: grid;
  grid-template-columns: [full-padding-start] repeat(2, minmax(min-content, 1fr)) [full-start] minmax(min-content, 1fr) [large-start] minmax(8rem, 1fr) [medium-start] minmax(min-content, 10rem) [center-start] repeat(4, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(min-content, 10rem) [medium-end] minmax(8rem, 1fr) [large-end] minmax(min-content, 1fr) [full-end] repeat(2, minmax(min-content, 1fr)) [full-padding-end];
  height: 93vh;
  overflow-y: auto;
  overflow-x: hidden; }

.section__container {
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 1200px) {
    .section__container .section__container {
      grid-column: 3 / 13; } }

.wide__container {
  grid-column: large-start / large-end; }

.card__container {
  background-color: var(--color-card-background); }
