* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-success: #29ce73;
  --color-fail: #ff0033;
  /* -----main colors----- */
  --color-text: #000;
  --color-light: #fff;
  --color-dark: #000;
  /* -----theme colors----- */
  --color-primary: #2fd5eb;
  --color-primary-light: #45dcf0;
  --color-primary-dark: #25c2d6;
  /* -----layout colors----- */
  --color-header: #fff;
  --color-header-hover: #d8d8d8;
  --color-header-shadow: #d8d8d8;
  --color-body: #f0f2f5;
  /* -----component colors----- */
  --color-card-background: #fff;
  --color-card-item: #7e848a;
  --color-card-item-hover: #f2f2f2;
  --color-category-background: #fff;
  --color-category-hover: #94949444;
  --color-dropdown-dot: #7e848a;
  --color-dropdown-background: #fff;
  --color-dropdown-border: #f0f2f5;
  --color-dropdown-item-hover: #f2f2f2;
  --color-post-background: #fff;
  --color-post-border: #d8d8d8;
  --color-comment-background: #f0f2f5;
  --color-comment-action-hover: #f2f2f2;
  --color-notification-background: #fff;
  --color-notification-hover: #f2f2f2;
  --color-notification-action-hover: #242526;
  --color-popup-background: #fff;
  --color-popup-border: #f0f2f5;
  /* -----HTML ELEMENTS----- */
  --color-form-background: #fff;
  --color-input-background: #f0f2f5;
  --color-input-text: #a7a9ad;
  --color-input-caret: #000;
  --color-button: #e4e6eb;
  --color-button-hover: #d8dadf;
  /* -----utility colors----- */
  --color-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
  --color-hover-light: #f2f2f2;
  --color-hover-dark: #d0d0d0;
  /* -----shadows------ */
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-inset: rgba(255, 255, 255, 0.5); }

[data-theme='dark'] {
  /* -----main colors----- */
  --color-text: #fff;
  --color-light: #242526;
  /* -----theme colors----- */
  --color-primary: #2fd5eb;
  --color-primary-light: #45dcf0;
  --color-primary-dark: #25c2d6;
  /* -----layout colors----- */
  --color-header: #242526;
  --color-header-hover: #3a3b3c;
  --color-header-shadow: #3a3b3c;
  --color-body: #18191a;
  /* -----component colors----- */
  --color-card-background: #242526;
  --color-card-item: #94989a;
  --color-card-item-hover: #3a3b3c;
  --color-category-background: #242526;
  --color-category-hover: #3a3b3c;
  --color-dropdown-dot: #94989a;
  --color-dropdown-background: #242526;
  --color-dropdown-border: #18191a;
  --color-dropdown-item-hover: #3a3b3c;
  --color-dropdown-button: #3e4042;
  --color-dropdown-button-hover: #525355;
  --color-post-background: #242526;
  --color-post-border: #3a3b3c;
  --color-comment-background: #3a3b3c;
  --color-comment-action-hover: #3a3b3c;
  --color-notification-background: #242526;
  --color-notification-count: red;
  --color-notification-hover: #3a3b3c;
  --color-notification-action-hover: #242526;
  --color-popup-background: #242526;
  --color-popup-border: #3a3b3c;
  /* -----HTML ELEMENTS----- */
  --color-form-background: #242526;
  --color-input-background: #3a3b3c;
  --color-input-caret: #fff;
  --color-button: #3a3b3c;
  --color-button-hover: #4e4f50;
  /* -----utility colors----- */
  --color-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
  --color-hover-light: #3a3b3c;
  --color-hover-dark: #303031;
  /* -----shadows------ */
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-inset: rgba(255, 255, 255, 0.05); }

html {
  margin: 0;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 90%; } }
  @media only screen and (max-width: 75rem) {
    html {
      font-size: 80%; } }

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  color: var(--color-text);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); }

/* SELECTION COLOR */
::selection {
  background: var(--color-primary-light); }

::-moz-selection {
  background: var(--color-primary-light); }

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #e2e2e2;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes pulsate {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0); } }

.splash-heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

input,
select {
  font-family: "Nunito", sans-serif; }

a {
  text-decoration: none;
  color: var(--color-text); }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: 600; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.spacing-small {
  letter-spacing: 0.1rem; }

.margin-small {
  margin: 1rem; }

.margin-medium {
  margin: 2rem; }

.center {
  text-align: center; }

.font-small {
  font-size: 0.8rem; }

.font-medium {
  font-size: 1.25rem; }

.font-big {
  font-size: 1.5rem; }

.font-large {
  font-size: 1.8rem; }

.padding-small {
  padding: 1rem; }

.heading-1 {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase; }

.heading-2 {
  font-size: 1.5rem; }

.heading-3 {
  font-size: 1.2rem; }

.p-small {
  font-size: 0.8rem; }

/* SPLASH PAGE */
.splash-heading-1 {
  font-size: 3.5rem; }

.hidden {
  display: none; }

@media only screen and (max-width: 31.25rem) {
  .splash-heading-1 {
    font-size: 3rem; } }

@media only screen and (max-width: 68.75rem) {
  .heading-1 {
    font-size: 1.65rem; }
  .heading-2 {
    font-size: 1.4rem; }
  .heading-3 {
    font-size: 1.1rem; }
  .font-large {
    font-size: 1.5rem; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header {
  background-color: var(--color-header);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  padding: 2rem 0;
  width: 100%;
  box-shadow: 0px 1.5px 1px var(--color-header-shadow);
  z-index: 5; }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%; }
  .header__logo > a {
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--color-primary); }

.nav {
  display: flex;
  align-items: center;
  /* RESPONSIVE NAV STYLES */ }
  .nav__item {
    font-weight: 700;
    position: relative;
    border-radius: 0.8rem; }
    .nav__item > a {
      display: flex; }
    .nav__item--img {
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem; }
    .nav__item--notification {
      font-size: 0.8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .nav__item--notification::before {
      content: '';
      display: block;
      padding-bottom: 100%; }
  .nav__item:not(:last-child) {
    margin-right: 1rem; }
  .nav__button {
    display: none; }
  .nav__checkbox {
    display: none; }
  .nav__mobile {
    display: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }

@media only screen and (max-width: 31.25rem) {
  .header__nav {
    width: 40%; } }

@media only screen and (max-width: 36.5rem) {
  .header__nav {
    width: 50%; }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 2rem;
    height: 1px; }
  .nav__item--img {
    height: 2rem;
    width: 2rem;
    margin-right: 0; }
  .nav__item:not(:last-child) {
    margin-right: 0.5rem; } }

@media only screen and (max-width: 43.75em) {
  .header__nav {
    width: 55%; } }

@media only screen and (max-width: 56.25em) {
  .header__nav {
    width: 60%; } }

@media only screen and (max-width: 68.75rem) {
  .nav__button {
    display: block;
    margin-bottom: 0.5rem; }
  .nav__button:hover {
    cursor: pointer; }
  .nav__icon {
    position: relative; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      width: 2.5rem;
      height: 2px;
      background-color: var(--color-text);
      display: inline-block; }
    .nav__icon::before, .nav__icon::after {
      content: '';
      position: absolute;
      transition: all 0.2s; }
    .nav__icon::before {
      top: -0.75rem; }
    .nav__icon::after {
      top: 0.75rem; }
  .nav__mobile {
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 93vh;
    width: 100%;
    left: 0;
    top: 7vh;
    background-color: var(--color-card-background); }
    .nav__mobile--item {
      width: 100%;
      padding: 1rem;
      font-size: 1.5rem;
      border-radius: 3px; }
    .nav__mobile--item:hover {
      background-color: var(--color-hover-light); }
    .nav__mobile--item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .nav__checkbox:checked ~ .nav__mobile {
    display: flex; }
  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__button .nav__icon.nav__icon::after {
    top: 0;
    transform: rotate(-135deg); } }

.sidebar__container {
  display: flex;
  flex-direction: column;
  height: 93vh;
  min-width: min-content;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media only screen and (max-width: 68.75rem) {
    .sidebar__container {
      display: none; } }

.sidebar__nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0.1rem; }
  .sidebar__nav a {
    padding: 0.5rem 1rem; }
  .sidebar__nav--item {
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
    border-radius: 0.8rem;
    width: 18rem;
    padding: 1rem 3rem; }
  .sidebar__nav--item:hover {
    cursor: pointer;
    background-color: var(--color-hover-dark); }

input[type='text'],
input[type='number'],
input[type='url'],
input[type='password'],
input[type='email'] {
  background-color: var(--color-input-background);
  color: var(--color-text);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem;
  width: 100%;
  caret-color: var(--color-input-caret); }

input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

input[type='file'] + label {
  text-align: center;
  color: var(--color-text);
  background-color: var(--color-input-background);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.8rem;
  margin-bottom: 1rem; }

input[type='file'] + label:hover {
  cursor: pointer;
  background-color: var(--color-button-hover); }

input[type='file']:focus + label {
  outline: -webkit-focus-ring-color auto 5px; }

input[type='submit'] {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  margin-top: 1rem; }

input[type='submit']:hover,
.input__submit:hover {
  background-color: var(--color-primary-dark);
  cursor: pointer; }

.input__submit {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  text-align: center;
  line-height: 1; }

input:focus {
  outline: none; }

.input__select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-input-background);
  color: var(--color-text);
  border: none;
  padding: 1rem; }

.input__select:focus {
  outline: none; }

.input__btn {
  background-color: var(--color-input-background);
  color: var(--color-input-text);
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  margin-left: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem; }

.input__btn:hover {
  cursor: pointer; }

textarea {
  padding: 1rem;
  resize: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-input-background);
  color: var(--color-text);
  border: none;
  padding: 1rem;
  margin-bottom: 1rem; }

select:focus {
  outline: none; }

option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem; }

option:hover {
  background-color: var(--color-hover-light); }

@media only screen and (max-width: 36.5rem) {
  input[type='submit'] {
    font-weight: 100; } }

.form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-form-background);
  padding: 2rem;
  border-radius: 0.8rem; }

.form__label {
  font-size: 1rem;
  margin-left: 1rem;
  display: block;
  transition: all 0.3s; }

.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  border: none;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  margin-bottom: 0.5rem; }

@media only screen and (max-width: 31.25rem) {
  .form__container {
    padding: 0; } }

.table__header {
  background-color: var(--color-card-background); }
  .table__header th {
    font-weight: 600; }

.table__body {
  box-sizing: border-box;
  border: 1px solid var(--color-text);
  border-top: 0px; }
  .table__body tr:hover {
    background-color: var(--color-hover-light) !important; }
  .table__body tr:hover td {
    background: transparent; }

table {
  width: 100%;
  table-layout: fixed; }

th {
  padding: 2rem 1rem;
  text-align: left;
  color: var(--color-text);
  text-transform: uppercase; }

td {
  padding: 2rem 1rem;
  text-align: left;
  vertical-align: middle;
  color: var(--color-text); }

.btn__action {
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  width: min-content;
  white-space: nowrap; }
  .btn__action--active {
    background-color: var(--color-primary);
    color: var(--color-white); }
  .btn__action--active:hover {
    background-color: var(--color-primary-dark); }
  .btn__action--inactive {
    background-color: var(--color-button); }
  .btn__action--inactive:hover {
    background-color: var(--color-button-hover); }

.btn__action:hover {
  cursor: pointer; }

.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: var(--color-button);
  border-radius: 0.8rem; }
  .btn__icon--svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-text); }
  @media only screen and (max-width: 36.5rem) {
    .btn__icon {
      height: 2rem;
      width: 2rem; }
      .btn__icon--svg {
        height: 1rem;
        width: 1rem; } }

.btn__icon:hover, .btn__icon-label:hover {
  cursor: pointer;
  background-color: var(--color-button-hover); }

.btn__icon-label {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 3px; }

.btn__dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem; }
  .btn__dropdown--svg {
    height: 1rem;
    width: 1rem;
    fill: var(--color-text); }
  .btn__dropdown--action {
    position: absolute;
    height: 1rem;
    width: 1rem;
    fill: var(--color-text); }

.btn__dropdownItemAction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--color-button);
  border-radius: 0.8rem; }
  .btn__dropdownItemAction--svg {
    height: 1rem;
    width: 1rem;
    fill: var(--color-text); }

.btn__dropdownItemAction:hover {
  background-color: var(--color-button-hover); }

.btn__load-more {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  background-color: var(--color-button);
  padding: 0.5rem 1rem; }

.btn__load-more:hover {
  background-color: var(--color-button-hover);
  cursor: pointer; }

.spinner__overlay {
  grid-column: center-start / center-end;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner__container {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

.dropdown {
  position: relative; }
  .dropdown__dot {
    background-color: var(--color-dropdown-dot);
    margin: 0 auto;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 1px;
    border-radius: 50%;
    transition: background-color 0.3s; }
  .dropdown__btn:hover .dropdown__dot {
    background-color: var(--color-text); }
  .dropdown__btn {
    display: flex;
    justify-content: center;
    align-items: center; }
  .dropdown__btn:hover {
    cursor: pointer; }
  .dropdown__menu {
    width: min-content;
    position: absolute;
    top: 100%;
    z-index: 900;
    padding: 0.5rem;
    margin-top: 0.75rem;
    background-color: var(--color-dropdown-background);
    border: 1px solid var(--color-dropdown-border);
    border-radius: 0.3rem;
    box-shadow: var(--color-box-shadow);
    opacity: 0;
    transform: translate(0, 15px) scale(0.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none; }
    .dropdown__menu--show .dropdown__menu {
      opacity: 1;
      transform: translate(0, 0) scale(1);
      pointer-events: auto; }
    .dropdown__menu--item {
      color: var(--color-text) !important;
      font-weight: 400;
      display: flex;
      align-items: center;
      background: none;
      border: 0 none;
      border-radius: 0.5rem;
      line-height: normal;
      overflow: visible;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      width: 100%;
      outline: none;
      cursor: pointer;
      white-space: nowrap;
      padding: 0.5rem; }
    .dropdown__menu--item:hover {
      background-color: var(--color-dropdown-item-hover); }
    @media only screen and (max-width: 31.25rem) {
      .dropdown__menu--text {
        display: none; } }
  .dropdown__menu:focus {
    outline: none; }
  .dropdown__filter {
    width: 20%; }
  .dropdown__filter:not(:last-child) {
    margin-right: 1rem; }
  @media only screen and (max-width: 43.75em) {
    .dropdown__menu {
      font-size: 1rem; } }
  @media only screen and (max-width: 36.5rem) {
    .dropdown__menu {
      font-size: 0.75rem; } }

.category-overview__container {
  padding: 2rem; }
  .category-overview__container--title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .category-overview__container--body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 36.5rem) {
      .category-overview__container--body {
        justify-content: center; } }

.category__container {
  padding: 2rem 0;
  grid-column: medium-start / medium-end; }
  .category__container--body {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    display: flex;
    margin-top: 2rem; }

.category__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 8rem;
  width: 8rem;
  background-color: var(--color-category-background);
  border-radius: 0.8rem;
  margin: 0 auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .category__item--title {
    text-align: center; }

.category__item:hover {
  cursor: pointer;
  background-color: var(--color-category-hover); }

.post-item__container {
  background-color: var(--color-post-background);
  margin: 2rem 0;
  border-radius: 5px;
  padding: 2rem;
  font-size: 1rem; }

.post-item__headliner {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.post-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; }
  .post-item__header--img {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem; }
  .post-item__header--info {
    margin: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left; }
    .post-item__header--info time {
      font-size: 0.9rem; }
  .post-item__header--tag {
    font-size: 0.9rem;
    display: flex; }
  .post-item__header--name {
    font-size: 1rem; }

.post-item__body {
  margin-top: 2rem; }
  .post-item__body--title {
    text-align: center; }
  .post-item__body--desc {
    margin: 2rem 1rem; }

.post-item__actions {
  display: flex;
  border-top: 1px solid var(--color-post-border);
  border-bottom: 1px solid var(--color-post-border);
  padding: 0.3rem 0; }
  .post-item__actions--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0.5rem; }
  .post-item__actions--button:hover {
    cursor: pointer;
    background-color: var(--color-hover-light); }

.post-item__comments--error {
  text-align: center; }

.post-form__container--form {
  display: flex;
  flex-direction: column; }

.comment__container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.95rem; }
  .comment__container--header img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
  .comment__container--main {
    display: flex;
    flex-direction: column;
    background-color: var(--color-comment-background);
    border-radius: 0.8rem;
    flex: 1 1 auto;
    margin-left: 1rem;
    padding: 0.5rem 1rem; }
  .comment__container--top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .comment__container--time {
    font-size: 0.8rem; }
  .comment__container--actions {
    margin-left: 0.5rem; }
  .comment__container--action {
    display: flex;
    padding: 1rem;
    border-radius: 0.8rem; }
  .comment__container--action:hover {
    cursor: pointer;
    background-color: var(--color-comment-action-hover); }

.comment-form__container {
  display: flex;
  align-items: center;
  padding: 1rem 0; }
  .comment-form__container img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }

.comment-form__form {
  margin-left: 1rem;
  width: 100%; }

.notification {
  /* Notification Item */ }
  .notification__dropdown {
    width: 15rem; }
    .notification__dropdown hr {
      margin: 0.5rem 0; }
  .notification__item {
    position: relative; }
    .notification__item--img {
      margin-right: 1rem; }
      .notification__item--img img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%; }
    .notification__item--main {
      height: 100%;
      width: 100%;
      padding: 0.5rem 1.5rem 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.8rem; }
    .notification__item--main:hover {
      cursor: pointer;
      background-color: var(--color-notification-hover); }
    .notification__item--main:hover .notification__item--action {
      visibility: visible; }
    .notification__item--top {
      display: flex; }
    .notification__item--time {
      font-size: 0.85rem; }
    .notification__item--action {
      border-radius: 50%;
      position: absolute;
      top: 0.5rem;
      right: 0; }
    .notification__item--action:hover {
      cursor: pointer; }
    .notification__item--bubble {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;
      position: absolute;
      background-color: var(--color-notification-count);
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 0.8rem;
      top: -0.2rem;
      right: -0.5rem; }
    .notification__item--error {
      text-align: center; }
    .notification__item--error:hover {
      cursor: default; }
  .notification__action {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0.8rem; }
  .notification__action:hover {
    cursor: pointer;
    background-color: var(--color-notification-hover); }
  .notification__error {
    padding: 0.5rem 0;
    text-align: center; }
  .notification__container {
    background-color: var(--color-notification-background);
    border-radius: 3px;
    display: flex;
    margin: 0 3rem; }
  .notification__container:not(:last-child) {
    margin-bottom: 1rem; }
  .notification__header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .notification__header--img {
      border-radius: 50%;
      height: 3rem;
      width: 3rem; }
    .notification__header--name {
      margin-top: 1rem;
      white-space: nowrap; }
  .notification__body {
    position: relative;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .notification__body--message {
      margin-bottom: 1rem; }

@media only screen and (max-width: 31.25rem) {
  .notification__body {
    padding: 2rem 3rem 2rem 0; } }

.user-item__container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: var(--color-card-background);
  width: 50%;
  margin: 0 auto; }
  .user-item__container--pic {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem; }
  .user-item__container--name {
    white-space: nowrap; }

.user-item__container:hover {
  cursor: pointer;
  background-color: var(--color-hover-light); }

.report-form__container--form {
  display: flex;
  flex-direction: column; }

.report-form__container--item:not(:last-child) {
  margin-bottom: 1rem; }

.alert__container {
  margin-top: 1px;
  position: absolute;
  padding: 1rem;
  width: 100%; }
  .alert__container--fail {
    background-color: var(--color-fail); }
  .alert__container--success {
    background-color: var(--color-success); }
  .alert__container--message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--color-white); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 175;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
    .popup {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba(var(--color-dark), 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: min-content;
    width: 30%;
    border-radius: 3px;
    background-color: var(--color-popup-background);
    box-shadow: var(--color-box-shadow);
    overflow: hidden;
    opacity: 1; }
    @media only screen and (max-width: 112.5em) {
      .popup__content {
        width: 40%; } }
    @media only screen and (max-width: 75rem) {
      .popup__content {
        width: 50%; } }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        width: 70%; } }
  .popup__header {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--color-popup-border); }
    .popup__header--title {
      font-size: 1.25rem;
      font-weight: 800; }
  .popup__close {
    color: var(--color-text);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s; }
  .popup__close:hover {
    background-color: var(--color-button); }
  .popup__main {
    padding: 3rem 3rem 5rem 3rem; }
  .popup__message {
    padding-top: 2rem;
    text-align: center; }

.popupConfirm__content {
  height: min-content; }

.popupConfirm .popup__main {
  display: flex;
  justify-content: center; }

.popupConfirm form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%; }

.toggle-switch__container {
  margin-left: 1rem;
  display: flex; }
  @media only screen and (max-width: 36.5rem) {
    .toggle-switch__container {
      margin-left: 0.3rem; } }

.toggle-switch--item {
  display: inline-block;
  height: 1.5rem;
  position: relative;
  width: 2.5rem; }
  .toggle-switch--item input {
    display: none; }
  .toggle-switch--item .slider {
    background-color: var(--color-hover-dark);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s; }
  .toggle-switch--item .slider:before {
    background-color: var(--color-light);
    bottom: 4px;
    content: '';
    left: 5px;
    height: 1rem;
    position: absolute;
    transition: 0.4s;
    width: 1rem; }
  .toggle-switch--item input:checked + .slider {
    background-color: var(--color-primary); }
  .toggle-switch--item input:checked + .slider:before {
    transform: translateX(1rem); }
  .toggle-switch--item .slider.round {
    border-radius: 2rem; }
  .toggle-switch--item .slider.round:before {
    border-radius: 50%; }
  @media only screen and (max-width: 36.5rem) {
    .toggle-switch--item {
      height: 1rem;
      width: 1.7rem; }
      .toggle-switch--item input:checked + .slider:before {
        transform: translateX(0.5rem); }
      .toggle-switch--item .slider:before {
        bottom: 0;
        left: 1px; } }

.crop__container {
  margin-top: 2rem;
  width: 100%;
  height: 40rem;
  position: relative; }

.crop__controls {
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center; }

.crop__slider {
  padding: 3rem 0; }

.crop__button {
  text-align: center; }
  .crop__button button:not(:last-child) {
    margin-right: 1rem; }

@media only screen and (max-width: 36.5rem) {
  .crop__container {
    margin-top: 1rem;
    height: 20rem; } }

@media only screen and (max-width: 68.75rem) {
  .crop__container {
    height: 30rem; } }

.MuiButton-contained {
  background-color: var(--color-input-background) !important; }

.MuiButton-root {
  color: var(--color-text) !important; }

.MuiSlider-root {
  color: var(--color-text) !important; }

/* Reports Page Styles*/
.reports__container,
.report__container {
  margin: 2rem auto; }

.report__container .report__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }
  .report__container .report__action select {
    margin-bottom: 1rem; }

.report__container .form__container {
  width: 50%; }

.report__container .form__container:not(:last-child) {
  margin-bottom: 2rem; }

.report__container--delete {
  width: 50%;
  background-color: var(--color-fail); }

.report__container--delete:hover {
  background-color: var(--color-fail); }

/* Categories Page Styles */
.categories__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0; }
  .categories__container--overview {
    padding: 2rem; }
  .categories__container .form__container:not(:last-child) {
    margin-bottom: 2rem; }

.categories__header--btn {
  margin: 2rem auto 0 auto;
  padding: 1rem 2rem;
  background-color: var(--color-button);
  border-radius: 1rem; }

.categories__header--btn:hover {
  background-color: var(--color-button-hover); }

.categories__manage--img {
  display: flex;
  justify-content: center;
  margin: 1rem auto; }
  .categories__manage--img img {
    border-radius: 1rem;
    height: 8rem;
    width: 8rem;
    text-align: center; }

.auth__container {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .auth__container--logo {
    font-size: 2.5rem;
    text-transform: lowercase;
    font-weight: 600; }
  .auth__container--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: var(--color-form-background);
    border-radius: 0.8rem;
    width: 75%; }
  @media only screen and (max-width: 43.75em) {
    .auth__container {
      grid-column: medium-start / medium-end; } }
  @media only screen and (max-width: 36.5rem) {
    .auth__container {
      grid-column: full-padding-start / full-padding-end; } }

.account__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .account__container form {
    margin-bottom: 2rem; }
  .account__container--img {
    display: flex;
    justify-content: center;
    margin: 1rem auto; }
    .account__container--img img {
      border-radius: 50%;
      height: 8rem;
      width: 8rem;
      text-align: center; }

@media only screen and (max-width: 36.5rem) {
  .account__container--img img {
    height: 5rem;
    width: 5rem; } }

.explore__container {
  grid-column: large-start / large-end;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .explore__container--header {
    background-color: var(--color-card-background);
    padding: 1rem;
    width: 100%;
    border-radius: 0.8rem;
    text-align: center; }
  .explore__container--title {
    font-size: 2rem; }

.explore-feed__container {
  padding: 1rem; }
  .explore-feed__container--top {
    padding: 2rem 5rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-card-background);
    margin: 1rem 0; }
    @media only screen and (max-width: 36.5rem) {
      .explore-feed__container--top {
        padding: 1rem 2rem; } }
  .explore-feed__container--header {
    display: flex; }
  .explore-feed__container--pic {
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    margin-right: 1rem; }
  .explore-feed__container--actions {
    display: flex;
    justify-content: center; }
  .explore-feed__container--bar {
    display: flex;
    background-color: var(--color-card-background);
    border-radius: 3px;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0 auto; }

.explore-feed__posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 22rem);
  grid-column-gap: 4rem;
  justify-content: center; }

.explore__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0; }

.posts__container--title {
  font-size: 1.35rem;
  font-weight: 600; }

.posts__container--form {
  margin-top: 1rem;
  background-color: var(--color-form-background);
  display: flex;
  align-items: center;
  padding: 1rem; }
  .posts__container--form img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%; }

.posts__container--end {
  text-align: center;
  font-size: 1rem; }

.notifications__container {
  grid-column: center-start / center-end; }

.profile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border-bottom: 2px solid var(--color-header-shadow); }
  .profile__header--pic > img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem; }
  .profile__header--name {
    font-size: 1.5rem; }
  .profile__header--followers {
    font-size: 1.2rem; }
  .profile__header--bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 100%; }
  .profile__header--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .profile__header--info-bar {
    margin-top: 1rem;
    display: flex; }
  .profile__header--links {
    display: flex; }
    .profile__header--links .btn__icon {
      margin-right: 1rem; }
  .profile__header--actions {
    width: min-content;
    display: flex;
    justify-content: space-between; }
    .profile__header--actions .btn__action:not(:last-child) {
      margin-right: 1.5rem; }

.profile__body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem; }
  .profile__body--tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-grey-dark-3);
    padding: 0.5rem 0; }
  .profile__body .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 0.5rem 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem; }
    .profile__body .tabs--active {
      border-bottom: 3px solid var(--color-primary);
      color: var(--color-primary); }
    .profile__body .tabs__icon {
      margin-right: 1rem; }
      .profile__body .tabs__icon svg {
        height: 1rem;
        width: 1rem;
        fill: var(--color-text); }
      @media only screen and (max-width: 68.75rem) {
        .profile__body .tabs__icon {
          margin: 0; } }
    @media only screen and (max-width: 68.75rem) {
      .profile__body .tabs__text {
        display: none; } }
  .profile__body .tabs:hover {
    cursor: pointer;
    background-color: var(--color-hover-light); }

.profile__container {
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 43.75em) {
    .profile__container {
      grid-column: medium-start / medium-end; } }
  @media only screen and (max-width: 36.5rem) {
    .profile__container {
      grid-column: large-start / large-end;
      padding: 0 2rem; } }

.splash {
  /* HEADER STYLES */
  /* JUMBOTRON STYLES */
  /* STORY STYLES */
  /* FEATURES STYLES */
  /* BUTTON STYLES */
  /* FOOTER STYLES */ }
  .splash__full {
    height: 100vh !important; }
  .splash__container {
    font-display: "Nunito", sans-serif;
    grid-column: 1 / -1; }
  .splash__main {
    grid-column: 1 / -1;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/img/splash/back.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: minmax(min-content, 7vh); }
  .splash__header {
    background: transparent;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 3rem 0; }
    .splash__header .logo {
      font-size: 2rem;
      font-weight: 600; }
  .splash__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    font-size: 1.6rem;
    text-transform: uppercase; }
    .splash__navbar--brand {
      text-decoration: none;
      color: var(--color-light); }
      .splash__navbar--brand .logo {
        color: var(--color-white); }
    .splash__navbar--nav {
      list-style: none;
      display: flex;
      flex-direction: row; }
      .splash__navbar--nav-item {
        color: var(--color-white);
        font-size: 1.3rem;
        font-weight: 700;
        padding: 0 1rem;
        text-decoration: none; }
  .splash__jumbotron {
    color: var(--color-white);
    height: 100%;
    background: transparent;
    padding: 2rem 5rem 5rem 5rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .splash__story {
    background-color: var(--color-white);
    color: var(--color-black);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem; }
    .splash__story--pictures {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-gap: 1.5rem;
      padding: 3rem 2vw;
      height: 100%; }
      .splash__story--pictures-item-1 {
        grid-column: 1 / span 4;
        grid-row: 1 / span 5; }
      .splash__story--pictures-item-2 {
        grid-column: 1 / span 4;
        grid-row: 6 / span 5; }
      .splash__story--pictures-item-3 {
        grid-column: 5 / span 4;
        grid-row: 1 / span 10; }
      .splash__story--pictures-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block; }
      @media only screen and (max-width: 56.25em) {
        .splash__story--pictures {
          grid-column: 1 / -1; } }
    .splash__story--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 6rem 8vw; }
      .splash__story--content > * {
        padding: 1rem 0; }
      @media only screen and (max-width: 56.25em) {
        .splash__story--content {
          grid-column: 1 / -1;
          grid-row: 3 / 4; } }
    .splash__story--text {
      font-size: 1.2rem;
      font-style: italic;
      margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .splash__story {
        grid-column: 1 / -1;
        padding: 6rem; } }
    @media only screen and (max-width: 31.25rem) {
      .splash__story {
        padding: 2.5rem; } }
  .splash__features {
    font-family: "Josefin Sans", sans-serif;
    grid-column: 1 / -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/img/splash/back-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem 5rem;
    display: flex;
    justify-content: center; }
    .splash__features--list {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 3rem; }
      @media only screen and (max-width: 31.25rem) {
        .splash__features--list {
          grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); } }
    @media only screen and (max-width: 31.25rem) {
      .splash__features {
        padding: 10rem 2rem; } }
  .splash__feature {
    color: var(--color-white);
    display: grid;
    grid-template-rows: min-content min-content;
    justify-content: center;
    justify-items: center;
    padding: 3rem;
    text-align: center; }
    .splash__feature--icon {
      height: 5rem;
      width: 5rem;
      fill: var(--color-white); }
    .splash__feature--title, .splash__feature--detail {
      margin-top: 2rem; }
    .splash__feature--title {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 500; }
    .splash__feature--detail {
      font-size: 1em;
      font-weight: 400; }
  .splash__btn {
    color: var(--color-white);
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 3px solid var(--color-white);
    cursor: pointer;
    margin-top: 15rem; }
    @media only screen and (max-width: 31.25rem) {
      .splash__btn {
        font-size: 2rem;
        margin-top: 5rem; } }
    @media only screen and (max-width: 36.5rem) {
      .splash__btn {
        margin-top: 10rem; } }
  .splash__btn:hover {
    animation: pulsate 0.8s infinite; }
  .splash__footer {
    background-color: #1a1c20;
    font-size: 1rem;
    color: var(--color-white);
    padding: 0 5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .splash__footer--menu {
      width: 85%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 1.5rem;
      text-align: center; }
      .splash__footer--menu-item {
        display: grid;
        grid-template-rows: min-content min-content;
        justify-content: center;
        justify-items: center;
        padding: 2rem;
        text-align: center;
        font-family: "Josefin Sans", sans-serif;
        color: var(--color-white); }
    .splash__footer--title {
      font-size: 1.35rem;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      margin-bottom: 1rem; }
    .splash__footer--text {
      text-align: left; }
    .splash__footer--description {
      padding: 0 3rem; }
    .splash__footer--copyright {
      margin-top: 3rem;
      text-align: center;
      font-family: "Josefin Sans", sans-serif; }

@media only screen and (max-width: 31.25rem) {
  .splash__navbar {
    width: 75%; } }

.error__container {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  align-items: center; }
  .error__container--image {
    height: 20rem;
    width: 20rem; }
  .error__container--title {
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }
  .error__container--text {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }

.error-boundary {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .error-boundary__image {
    height: 30rem;
    width: 30rem; }

@media only screen and (max-width: 68.75rem) {
  .error__container {
    display: flex;
    flex-direction: column; }
    .error__container--title {
      font-size: 2rem; }
    .error__container--text {
      padding: 0 1rem; } }

.container {
  height: 100vh; }

.body__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-body); }

.main__container {
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: row;
  position: relative; }

.content__container {
  display: grid;
  grid-template-columns: [full-padding-start] repeat(2, minmax(min-content, 1fr)) [full-start] minmax(min-content, 1fr) [large-start] minmax(8rem, 1fr) [medium-start] minmax(min-content, 10rem) [center-start] repeat(4, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(min-content, 10rem) [medium-end] minmax(8rem, 1fr) [large-end] minmax(min-content, 1fr) [full-end] repeat(2, minmax(min-content, 1fr)) [full-padding-end];
  height: 93vh;
  overflow-y: auto;
  overflow-x: hidden; }

.section__container {
  margin-top: 2rem;
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 36.5rem) {
    .section__container {
      grid-column: medium-start / medium-end; } }
  @media only screen and (max-width: 31.25rem) {
    .section__container {
      grid-column: large-start / large-end;
      padding: 0 1rem; } }

.large__container {
  grid-column: large-start / large-end; }
