.btn {
  &__action {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    width: min-content;

    &--active {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    &--active:hover {
      background-color: var(--color-primary-dark);
    }

    &--inactive {
      background-color: var(--color-button);
    }

    &--inactive:hover {
      background-color: var(--color-button-hover);
    }
  }

  &__action:hover {
    cursor: pointer;
  }

  &__icon {
    @include flexCenter();
    height: 3rem;
    width: 3rem;
    background-color: var(--color-button);
    border-radius: 0.8rem;

    &--svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: var(--color-text);
    }
  }

  &__icon:hover {
    cursor: pointer;
    background-color: var(--color-button-hover);
  }

  &__dropdown {
    @include flexCenter();
    height: 1.5rem;
    width: 1.5rem;
    // background-color: var(--color-button);
    // border-radius: 0.8rem;

    &--svg {
      height: 1rem;
      width: 1rem;
      fill: var(--color-text);
    }

    &--action {
      position: absolute;
      height: 1rem;
      width: 1rem;
      fill: var(--color-text);
    }
  }

  &__dropdownAction {
    @include flexCenter();
    height: 2rem;
    width: 2rem;
    background-color: var(--color-button);
    border-radius: 0.8rem;

    &--svg {
      height: 1rem;
      width: 1rem;
      fill: var(--color-text);
    }
  }
}
