.comment {
  &__container {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 0.95rem;

    &--header {
      img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
      }
    }

    &--main {
      display: flex;
      flex-direction: column;
      background-color: var(--color-comment-background);
      border-radius: 0.8rem;
      flex: 1 1 auto;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
    }

    &--name {
    }

    &--actions {
      margin-left: 0.5rem;
    }

    &--action {
      padding: 1rem;
      border-radius: 0.8rem;
    }

    &--action:hover {
      cursor: pointer;
      background-color: var(--color-comment-action-hover);
    }
  }

  &-form {
    &__container {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
      }
    }

    &__form {
      margin-left: 1rem;
      width: 100%;
    }
  }
}
