.dropdown {
  position: relative;

  &__dot {
    background-color: var(--color-dropdown-dot);
    margin: 0 auto;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 1px;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  &__btn:hover &__dot {
    background-color: var(--color-text);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn:hover {
    cursor: pointer;
  }

  &__menu {
    width: min-content;
    position: absolute;
    top: 100%;
    z-index: 900;
    padding: 0.5rem;
    margin-top: 0.75rem;
    background-color: var(--color-dropdown-background);
    border: 1px solid var(--color-dropdown-border);
    border-radius: 0.3rem;
    box-shadow: var(--color-box-shadow);
    opacity: 0;
    transform: translate(0, 15px) scale(0.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;

    &--show .dropdown__menu {
      opacity: 1;
      transform: translate(0, 0) scale(1);
      pointer-events: auto;
    }

    &--item {
      color: var(--color-text) !important;
      display: flex;
      align-items: center;
      background: none;
      border: 0 none;
      border-radius: 0.5rem;
      line-height: normal;
      overflow: visible;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      width: 100%;
      outline: none;
      cursor: pointer;
      white-space: nowrap;
      padding: 0.5rem;
    }

    &--item:hover {
      background-color: var(--color-dropdown-item-hover);
    }
  }

  &__menu:focus {
    outline: none;
  }
}
