.form {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-form-background);
    padding: 2rem;
    border-radius: 0.8rem;
  }

  &__label {
    font-size: 1rem;
    margin-left: 1rem;
    display: block;
    transition: all 0.3s;
  }

  &__input {
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    border: none;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
