.header {
  background-color: var(--color-header);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  padding: 2rem 0;
  width: 100%;
  box-shadow: 0px 1.5px 1px var(--color-header-shadow);
  z-index: 5;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  &__logo > a {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-primary);
  }
}

.nav {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    // padding: 0.75rem;
    border-radius: 0.8rem;

    > a {
      display: flex;
    }

    &--img {
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem;
    }

    &--notification {
      font-size: 0.8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;

      // use flexbox to center text inside notification bubble
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__item:not(:last-child) {
    margin-right: 1rem;
  }

  /* RESPONSIVE NAV STYLES */

  // button - container class
  &__button {
    display: none;
  }

  // checkbox
  &__checkbox {
    display: none;
  }

  // mobile nav
  &__mobile {
    display: none;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
  }
}

@include respond(tab-square) {
  .nav {
    &__button {
      display: block;
      margin-bottom: 0.5rem;
    }

    &__button:hover {
      cursor: pointer;
    }

    // hamburger icon
    &__icon {
      position: relative;

      // for icon element itself, and 2 elements (::before and ::after)
      &,
      &::before,
      &::after {
        width: 2.5rem;
        height: 2px;
        background-color: var(--color-text);
        display: inline-block;
      }

      // place empty content inside ::before and ::after elements
      &::before,
      &::after {
        content: '';
        position: absolute;
        transition: all 0.2s;
      }

      &::before {
        top: -0.75rem;
      }

      &::after {
        top: 0.75rem;
      }
    }

    // mobile nav
    &__mobile {
      padding: 1rem 0;
      flex-direction: column;
      align-items: center;
      position: absolute;
      height: 93vh;
      width: 100%;
      left: 0;
      top: 7vh;
      background-color: var(--color-card-background);

      &--item {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 3px;
      }

      &--item:hover {
        background-color: var(--color-hover-light);
      }

      &--item:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    &__checkbox:checked ~ &__mobile {
      display: flex;
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon.nav__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}

@include respond(phone) {
  .nav {
    &__icon,
    &__icon::before,
    &__icon::after {
      width: 2rem;
      height: 1px;
    }

    &__item {
      &--img {
        height: 2rem;
        width: 2rem;
        margin-right: 0;
      }
    }

    &__item:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
