.account {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      margin-bottom: 2rem;
    }

    &--img {
      display: flex;
      justify-content: center;
      margin: 1rem auto;

      img {
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        text-align: center;
      }

      img::before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  @include respond(phone) {
    &__container {
      &--img {
        img {
          height: 5rem;
          width: 5rem;
        }
      }
    }
  }
}
