.auth__container {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--logo {
    @extend %primary;
    font-size: 2.5rem;
    text-transform: lowercase;
    font-weight: 600;
  }

  &--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: var(--color-form-background);
    border-radius: 0.8rem;
    width: 75%;
  }

  @include respond(large-phone) {
    grid-column: medium-start / medium-end;
  }

  @include respond(phone) {
    grid-column: full-padding-start / full-padding-end;
  }
}
