.error__container {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--image {
    height: 20rem;
    width: 20rem;
  }

  &--text {
  }
}
