.explore {
  &-feed {
    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, 22rem);
      grid-column-gap: 2rem;
    }
  }

  &-posts {
    &__container {
      padding: 1rem;
      text-align: center;

      &--header {
        width: 50%;
        margin: 0 auto;
      }

      &--actions {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__container {
    grid-column: medium-start / medium-end;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--header {
      background-color: var(--color-card-background);
      padding: 1rem;
      width: 100%;
      border-radius: 0.8rem;
      text-align: center;
    }

    &--title {
      font-size: 2rem;
    }
  }

  &__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
}
