.explore {
  &__container {
    grid-column: medium-start / medium-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;

    &--header {
      background-color: var(--color-card-background);
      padding: 1rem;
      width: 100%;
      border-radius: 0.8rem;
      text-align: center;
    }

    &--title {
      font-size: 2rem;
    }
  }

  &__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
}
