body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.spacing-small {
  letter-spacing: 0.1rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.center {
  text-align: center;
}

.font-small {
  font-size: 1.1rem;
}

.font-medium {
  font-size: 1.25rem;
}

.font-big {
  font-size: 1.5rem;
}

.font-large {
  font-size: 1.8rem;
}

.padding-small {
  padding: 1rem;
}

.heading-1 {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 1.5rem;
}

.heading-3 {
  font-size: 1.2rem;
}

.p-small {
  font-size: 0.8rem;
}
